<h2>Edit Existing Dish</h2>
<%= form_tag dishes_path, :method => :put do %>
  <%= label :dish, :name, 'name', class: 'col-form-label' %>
  <%= text_field :dish, 'name', class: 'form-control' %>
  <%= label :dish, :hall, 'hall', class: 'col-form-label'  %>
  <%= select :dish, :hall, ['John Jay','Ferris Booth Commons','JJ'], {}, {class: 'form-control col-1'} %>
  <%= label :dish, :property, 'property', class: 'col-form-label' %>
  <%= text_field :dish, :property, class: 'form-control' %>
  <%= label :dish, :calories, 'calories', class: 'col-form-label' %>
  <%= text_field :dish, :calories, class: 'form-control' %>
  <br/>
  <%= submit_tag 'Update Dish Info', class: 'btn btn-primary' %>
  <%= link_to 'Cancel', dishes_path, class: 'btn btn-secondary' %>
<% end %>
