<!--  app/views/movies/show.html.erb -->
<h2>Details about <em><%= @dish.name %></em></h2>

<ul id="details">
  <li>
    Name:
    <%= @dish.name %>
  </li>
  <li>
    Hall:
    <%= @dish.hall %>
  </li>
</ul>

<h3>Property:</h3>
<p id="Property">
  <%= @dish.property %>
</p>

<h3>Calories:</h3>
<p id="Calories">
  <%= @dish.calories %>
</p>

<h3>Image:</h3>
<p id="Image">
  <%= image_tag(@dish.image, height:'256px', width:'256px') %>
</p>

<div class="row">
  <%= link_to "Edit", edit_dish_path(@dish), class: 'btn btn-primary col-2' %>
  <%= link_to "Delete", dish_path(@dish), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger col-2' %>
  <%= link_to "Back to dish list", dishes_path, class: 'btn btn-primary col-2' %>
</div>
